<% if @note %>
  <div class="row text-center">
    <h1>Enter the Password to Show the Note</h1>
  </div>
  <br>
  <div class="row">
    <input type="password" class="form-control" id="password" placeholder="Password">
  </div>
  <br>

  <div id="encryptedtext" style="display: none;">
      <%= @note.text %>
  </div>

  <div id="plaintext" class="row jumbotron lead"></div>

  <div class="row">
    <strong>Link: </strong>
    <%= link_to note_url(@note.uuid), note_path(@note.uuid) %><br>
  </div>

  <div class="row">
    <strong>Key: </strong>
    <%= @note.uuid %>
  </div>
<% else %>
  <div class="row text-center">
    <h1>Couldn't Find Your Note</h1>
    <p class="lead">
    There is no note in the system with key <strong><%= params[:id] %></strong>.
    </p>
  </div>
<% end %>

<script>
(function () {

var encryptedtext = $("#encryptedtext");
var password = $("#password");
var plaintext = $("#plaintext");

var decrypt = function () {
  var text;
  var success = false;

  try {
    text = sjcl.decrypt(password.val(), encryptedtext.text());

    success = true;
  } catch (e) {
    plaintext.text('');
  }

  if (success) {
    plaintext.text(text);
  }
}

decrypt();
password.on("input", decrypt);

})();

</script>
