<% if @note %>
  <div class="row text-center">
    <h1>Enter the Secret Key to Show the Note</h1>
  </div>

  <% if @note.view_count && @note.view_count == 1 %>
    <div class="row text-center">
      <h4>
        This note will be deleted the next time this page is viewed.
      </h4>
    </div>
  <% end %>

  <% if @note.view_count && @note.view_count == 0 %>
    <div class="row text-center">
      <h4>
        This note has been deleted from the database and can not be viewed in the future.
      </h4>
    </div>
  <% end %>

  <br>
  <div class="row">
    <input class="form-control" id="password" placeholder="Secret key">
  </div>
  <br>

  <div id="encryptedtext" style="display: none;">
      <%= @note.text %>
  </div>

  <div id="plaintext" class="row jumbotron lead"></div>

  <div class="row">
    <strong>Link: </strong>
    <%= link_to note_url(@note.uuid), note_path(@note.uuid) %><br>
  </div>

  <div class="row">
    <strong>Key: </strong>
    <span id="note-uuid">
      <%= @note.uuid %>
    </span>
  </div>
<% else %>
  <div class="row text-center">
    <h1>Couldn't Find Your Note</h1>
    <p class="lead">
    There is no note in the system with key <strong><%= params[:id] %></strong>.
    </p>
  </div>
<% end %>

<script>
(function () {

var encryptedtext = $("#encryptedtext");
var password = $("#password");
var plaintext = $("#plaintext");

var decrypt = function () {
  var text;
  var success = false;

  try {
    text = sjcl.decrypt(password.val(), encryptedtext.text());

    success = true;
  } catch (e) {
    plaintext.text('');
  }

  if (success) {
    plaintext.text(text);
  }
}

decrypt();
password.on("input", decrypt);

})();

</script>
