<div class="text-center">
  <h1><%= t(".title") %></h1>
  <p class="lead">
    <%= t(".line1") %><br>
    <%= t(".line2") %><br>
  </p>

  <%= link_to t(".create"), new_note_path, class: "btn btn-primary btn-lg" %>
</div>
